body {
  width: 100%;
  height: 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

header .navbar-expand-lg {
  margin: 0 70px;
  height: 70px;
}

header .navbar {
  padding: 0;
}

header img {
  width: 130px;
}

header .nav-item {
  padding: 0 10px;
}

header .nav-link {
  transition-duration: 1s;
}

header .nav-link:hover {
  color: #c0c0c0;
}

header .navbar-nav {
  font-size: 14px;
  line-height: 53px;
}

header .dropdown-toggle::after {
  display: none;
}

header .dropdown-menu {
  background-color: #000;
  padding: 0;
  top: 66px;
  border-radius: 0;
}

header .dropdown-item {
  color: #fff;
  font-family: Verdana;
  font-size: 14px;
  padding-left: 20px;
  transition-duration: 0.7s;
}

header a {
  text-decoration: none;
  color: #fff;
}

header .dropdown-item:hover {
  color: #fff;
  background-color: #734e30;
}

main #top-area .top-img {
  background-image: url(./img/cafe.jpg);
  display: flex;
  background-size: cover;
  height: 66vw;
  width: 100%;
  text-align: center;
  justify-content: center;
}

main #top-area .top-img .image-desc {
  font-size: 33px;
  font-weight: bolder;
  writing-mode: vertical-rl;
  color: #fff;
  margin: auto;
  text-align: left;
  white-space: nowrap;
  font-family: "Times New Roman", Times, serif;
}

main #top-area .top-overview {
  color: #fff;
  background-color: #000;
  width: 100%;
  padding: 35px 30px;
}

main #top-area .top-overview h1,
p {
  vertical-align: middle;
  margin-bottom: 0;
  text-align: center;
}

main #top-area .top-overview h1 {
  font-size: 34px;
  padding-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
}

main #top-area .top-overview p {
  font-size: 12px;
  line-height: 38px;
  letter-spacing: 2px;
}

/*モバイル用*/
@media screen and (max-width: 991px) {
  header {
    background-color: #000;
    height: 50px;
    position: relative;
  }

  header .navbar-expand-lg {
    margin: 0;
    height: 50px;
  }

  header .logo {
    margin-left: 20px;
  }

  header img {
    padding: 0;
    left: 20px;
    top: 15px;
  }

  header .navbar-toggler {
    outline: 0;
    position: relative;
    height: 50px;
  }

  header .humburger-icon {
    width: 18px;
    height: 3px;
    background-color: #fff;
  }

  header .humburger-icon::before,
  header .humburger-icon::after {
    content: "";
    position: absolute;
    left: 12px;
    width: 18px;
    height: 3px;
    background-color: #fff;
    right: 0;
  }

  header .humburger-icon::before {
    top: 16px;
  }

  header .humburger-icon::after {
    top: 29px;
  }

  header .nav-link {
    margin-left: 20px;
    height: 50px;
    padding: 0;
  }

  header .nav-link:hover {
    color: #fff;
  }

  header .nav-item {
    background-color: #000;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 3;
  }

  header .dropdown-menu {
    padding-left: 15px;
    top: 0;
  }

  header .dropdown-item {
    font-size: 11px;
    padding-top: 0;
    padding-bottom: 0;
  }

  header .dropdown-item:hover {
    background-color: #000;
    color: #fff;
  }

  main #top-area {
    position: absolute;
    top: 50px;
  }

  main #top-area .top-img {
    min-height: 400px;
  }

  main #top-area .top-img .image-desc {
    font-size: 19px;
  }

  main #top-area .top-overview {
    height: auto;
    padding: 32px 18px;
  }

  main #top-area .top-overview h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  main #top-area .top-overview p {
    line-height: 30px;
  }
}
