body {
  width: 100%;
  height: 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

header .navbar-expand-lg {
  margin: 0 70px;
  height: 70px;
}

header .navbar {
  padding: 0;
}

header img {
  width: 130px;
}

header .nav-item {
  padding: 0 10px;
}

header .nav-link {
  transition-duration: 1s;
}

header .nav-link:hover {
  color: #c0c0c0;
}

header .navbar-nav {
  font-size: 14px;
  line-height: 4;
}

header .dropdown-toggle::after {
  display: none;
}

header .dropdown-menu {
  background-color: #000;
  padding: 0;
  top: 66px;
  border-radius: 0;
}

header .dropdown-item {
  color: #fff;
  font-family: Verdana;
  font-size: 14px;
  padding-left: 20px;
  transition-duration: 0.7s;
}

header a {
  text-decoration: none;
  color: #fff;
}

header .dropdown-item:hover {
  color: #fff;
  background-color: #734e30;
}

main #top-area {
  margin-bottom: 85px;
}

main #top-area .top-img {
  background-image: url(./img/cafe.jpg);
  display: flex;
  background-size: cover;
  height: 66vw;
  width: 100%;
  text-align: center;
  justify-content: center;
}

main #top-area .top-img .image-desc {
  font-size: 33px;
  font-weight: bolder;
  writing-mode: vertical-rl;
  color: #fff;
  margin: auto;
  text-align: left;
  white-space: nowrap;
  font-family: "Times New Roman", Times, serif;
}

main #top-area .top-overview {
  color: #fff;
  background-color: #000;
  width: 100%;
  padding: 35px 30px;
}

main #top-area .top-overview h1,
main #top-area .top-overview p {
  margin-bottom: 0;
  text-align: center;
}

main #top-area .top-overview h1 {
  font-size: 34px;
  padding-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
}

main #top-area .top-overview p {
  font-size: 12px;
  line-height: 3;
  letter-spacing: 2px;
}

main #main-service {
  margin-bottom: 85px;
}

main #main-service .cafe-overview {
  background-color: #f5f5f5;
  text-align: center;
  padding: 51px 20px 49px;
}

main #main-service .cafe-overview h2 {
  color: #442606;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  line-height: 2;
}

main #main-service .cafe-overview p {
  font-size: 13px;
  font-family: "Segoe UI";
  line-height: 3;
  margin-bottom: 0;
}

main #main-service .cafe-img {
  margin: 0;
}

main #main-service img.col-6.col-lg-3 {
  padding: 0;
}

main #secondary-service {
  margin-bottom: 85px;
}

main #secondary-service .card {
  border: none;
}

main #secondary-service .card h2 {
  color: #442606;
  font-weight: bolder;
  font-size: 18px;
  position: absolute;
}

main #secondary-service .card a img {
  width: 100%;
}

main #secondary-service .card a.triangle::before {
  content: "";
  border-color: #fff transparent transparent #fff;
  border-style: solid;
  border-width: 50px;
  position: absolute;
}

main #secondary-service .card .card-body {
  background-color: #f5f5f5;
  padding: 35px;
}

main #secondary-service .card .card-body p {
  font-size: 13px;
  font-family: "Segoe UI";
  line-height: 3;
}

main #secondary-service .card .card-body a.card-link,
main #plan a {
  color: #fff;
  font-size: 12px;
  background-color: #000;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition-duration: 0.7s;
  margin: 0 auto;
  max-width: 200px;
}

main #secondary-service .card .card-body a.card-link:hover {
  background-color: #734e30;
}

main #tertiary-service {
  margin-bottom: 90px;
}

main #tertiary-service .background {
  background-color: #f5f5f5;
  padding: 60px 0;
}

main #tertiary-service .news-event .text {
  align-items: center;
  margin-bottom: 35px;
  display: flex;
}

main #tertiary-service .news-event .text h2 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 45px;
}

main #tertiary-service .news-event a h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main #tertiary-service .news-event .text p,
main #tertiary-service .news-event a h3 {
  font-size: 15px;
  padding-left: 15px;
  margin: 0;
  color: #000;
  font-weight: 300;
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

main #tertiary-service .news-event a.list-group-item {
  width: auto;
  height: 77px;
  text-decoration: none;
}

main #tertiary-service .news-event a.list-group-item time {
  color: #c0c0c0;
  font-size: 12px;
  padding-left: 14px;
}

main #tertiary-service .event-group article .event-group {
  width: 100%;
}

main #tertiary-service .event-group article a {
  display: flex;
}

main #tertiary-service .event-group a.list-group-item {
  height: auto;
  padding: 0;
  max-height: 130px;
}

main #tertiary-service div.img-box {
  overflow: hidden;
  width: 40%;
}

main #tertiary-service div.img-box img {
  transition-duration: 1s;
  width: 100%;
  height: 130px;
}

main #tertiary-service div.img-box img:hover {
  transform: scale(1.2);
}

main #tertiary-service .event-group a .text {
  padding: 44px 30px;
  overflow: hidden;
  margin: 0;
  display: block;
  width: 60%;
}

main #tertiary-service .event-group a .text h3 {
  margin-bottom: 0;
}

main #tertiary-service .summary {
  width: 100%;
  list-style: none;
  text-align: right;
}

main #tertiary-service .summary a {
  text-decoration: none;
  color: #000;
  margin-top: 20px;
  transition-duration: 0.7s;
  font-weight: 300;
  font-size: 14px;
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  cursor: pointer;
  display: inline-block;
}

main #tertiary-service .summary a:hover {
  color: #c0c0c0;
}

main #tertiary-service .summary a::after {
  content: "＞";
}

main #plan {
  margin-bottom: 65px;
}

main #plan .text {
  text-align: center;
  margin-bottom: 50px;
}

main #plan .text h2 {
  color: #442506;
  font-size: 36px;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
  margin-bottom: 10px;
}

main #plan .text p {
  color: #000;
  font-size: 13px;
  line-height: 2.5;
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: 300;
}

main #plan .plan-menu {
  display: flex;
}

main #plan ul {
  width: 360px;
}

main #plan .list-group-item {
  color: #000;
  font-size: 14px;
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo;
  padding: 20px 10px;
  text-align: center;
}

main #plan .head {
  background-color: #a19283;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

main #plan .price {
  height: 125px;
  background: #ece9e6;
}

main #plan .price span {
  color: #442506;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "メイリオ", Meiryo, sans-serif;
}

main #plan .price span::before {
  content: "￥";
  font-size: 15px;
}

main #plan .middle li {
  border-left: 4px solid #442606;
  border-right: 4px solid #442606;
}

main #plan .middle .list-group-item.head {
  color: #fff;
  background-color: #442606;
}

main #plan .middle .bottom {
  border-bottom: 4px solid #442606;
  padding-bottom: 17px;
}

main #plan a {
  text-decoration: none;
}

main #plan a:hover {
  background-color: #442506;
}

/*モバイル用*/
@media screen and (max-width: 991px) {
  header {
    background-color: #000;
    height: 50px;
  }

  header .navbar-expand-lg {
    margin: 0;
    height: 50px;
  }

  header .logo {
    margin-left: 20px;
  }

  header img {
    padding: 0;
    left: 20px;
    top: 15px;
  }

  header .navbar-toggler {
    outline: 0;
    position: relative;
    height: 50px;
  }

  header .humburger-icon {
    width: 18px;
    height: 3px;
    background-color: #fff;
  }

  header .humburger-icon::before,
  header .humburger-icon::after {
    content: "";
    position: absolute;
    left: 12px;
    width: 18px;
    height: 3px;
    background-color: #fff;
    right: 0;
  }

  header .humburger-icon::before {
    top: 16px;
  }

  header .humburger-icon::after {
    top: 29px;
  }

  header .nav-link {
    margin-left: 20px;
    height: 50px;
    padding: 0;
  }

  header .nav-link:hover {
    color: #fff;
  }

  header .nav-item {
    background-color: #000;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header .dropdown-menu {
    padding-left: 15px;
    top: 0;
  }

  header .dropdown-item {
    font-size: 11px;
    padding-top: 0;
    padding-bottom: 0;
  }

  header .dropdown-item:hover {
    background-color: #000;
    color: #fff;
  }

  main #top-area {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  main #top-area .top-img {
    min-height: 400px;
  }

  main #top-area .top-img .image-desc {
    font-size: 19px;
  }

  main #top-area .top-overview {
    height: auto;
    padding: 32px 18px;
  }

  main #top-area .top-overview h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  main #main-service {
    margin-bottom: 30px;
  }

  main #main-service .cafe-overview {
    padding: 30px 23px;
  }

  main #main-service .cafe-overview h2 {
    font-size: 20px;
  }

  main #main-service .cafe-overview p {
    line-height: 2;
  }

  main #secondary-service {
    margin-bottom: 30px;
  }

  main #secondary-service .card {
    margin-bottom: 20px;
  }

  main #secondary-service .card .card-body p {
    line-height: 2;
  }

  main #secondary-service .card .card-body a.card-link {
    height: 45px;
  }

  main #tertiary-service {
    margin-bottom: 40px;
  }

  main #tertiary-service .background {
    padding: 30px 0;
  }

  main #tertiary-service .news-event .text {
    margin-bottom: 7px;
  }

  main #tertiary-service .news-event .text h2 {
    font-size: 25px;
  }

  main #tertiary-service .news-event .text p,
  main #tertiary-service .news-event a h3 {
    font-size: 13px;
    overflow: hidden;
  }

  main #tertiary-service div.img-box img {
    height: 130px;
    width: auto;
  }

  main #tertiary-service .event-group a .text {
    width: 100%;
  }

  main #plan {
    margin-bottom: 30px;
  }

  main #plan ul {
    margin-bottom: 20px;
  }

  main #plan .list-group-item {
    padding: 12px;
  }

  main #plan .list-group-item.price {
    padding: 20px;
  }

  main #plan .middle .list-group-item.head {
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  main #tertiary-service div.img-box {
    display: none;
  }

  main #tertiary-service .event-group a div.text {
    padding: 20px;
  }

  main #plan .text {
    padding: 0 20px;
    margin-bottom: 20px;
  }

  main #plan .text h2 {
    font-size: 20px;
  }

  main #plan .text p {
    line-height: 2.2;
  }

  main #plan .plan-menu {
    display: block;
  }

  main #plan ul {
    width: 100%;
  }

  main #plan .list-group-item {
    height: 45px;
    padding: 10px;
    overflow: hidden;
  }

  main #plan li.price {
    height: 75px;
    padding: 5px;
    line-height: 1.3;
  }

  main #plan li.price span {
    font-size: 35px;
  }

  main #plan .list-group-item.price {
    padding: 7px;
  }

  main #plan .middle .price {
    height: 75px;
  }

  main #plan .middle .list-group-item.head {
    padding: 5px;
  }
}
